<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.phonegap.camera"
        versionCode="10"
        version="1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Scooters Pizza</name>

    <description>
        CIS 217 Final "Mobil Pizza"
    </description>

    <author href="http://www.cis217-3.syncease.com" email="pstein101@comcast.net">
        Pete Stein
    </author>

</widget>